@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Public Sans', sans-serif;
    @apply bg-td-white dark:bg-td-dark text-slate-900 dark:text-slate-100;
}

.material-symbols-outlined {
    vertical-align: middle;
}

/* Animación de marquesina infinita garantizada */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite !important;
}

/* Pausar ambas pistas en sincronía al pasar el mouse por encima del contenedor */
.marquee-container:hover .animate-marquee {
  animation-play-state: paused !important;
}

/* Hide scrollbar for carousel */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
